section
	h2 Conceito de Aplicações Isomórficas
	p Aplicações que utilizam uma mesma linguagem de ponta a ponta, proporcionam agilidade na manutenção embora precisem de maior planejamento no desenvolvimento.