section
	h2 Tecnologia e Usabilidade
	br
	ul
		li.fragment Linguagens: JavaScript, HTML, CSS e .NET;
		li.fragment Compiladores: Apache Cordova, Electron;
		li.fragment Conceito criativo: Material Design;
		li.fragment Usabilidade e Performance é tudo.