section.conceito
	div(style="position: relative;")
		img.fragment(src="./img/desktop.png")
		img.fragment(src="./img/tablet.png"  style="position: absolute; top: 0; left: 0;")
		img.fragment(src="./img/celular.png" style="position: absolute; top: 0; left: 0;")
	p(style="font-style: italic; text-decoration: underline;").fragment "one code, cross platform, write lesss do more"