// - Resets
img
	border: 0 !important
	box-shadow: none !important

.inicial
	.fragment
		transition: .5s ease-in-out !important

.conceito
	.fragment
		transition: .5s ease-in-out !important

.exemplo-usando-app
	&:after
		content: ""
		width 100%
		height 100%
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		background-color: rgba(#FFF, .3)

// Resets
.hide
	opacity: 0