<nav>
    <div class="nav-wrapper grey darken-4">
        <a href="#!" class="brand-logo"> Luminosity Control</a>
        <a data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#/clientes">Clientes</a></li>
            <li><a href="#/funcionarios">Funcionários</a></li>
            <li><a href="#/veiculos">Veículos</a></li>
            <li><a href="#/pedidos">Pedidos</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="#/clientes">Clientes</a></li>
            <li><a href="#/funcionarios">Funcionários</a></li>
            <li><a href="#/veiculos">Veículos</a></li>
            <li><a href="#/pedidos">Pedidos</a></li>
        </ul>
    </div>
</nav>