<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
<div class="modal-content">

<style>
	.collection .collection-item {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
</style>


<form name="pedidoForm" class="col" autocomplete="off">

  <h4>{{ manipularPedidoTitle }}</h4>
	

	<!-- Data de Retorno -->
	<div class="row">
		<div class="col s12">
			<label for="PED_DAT_RETORNO">Data de Retorno <span class="red-text darken-4">*</span></label>
			<input name="PED_DAT_RETORNO" id="PED_DAT_RETORNO" placeholder="Ex: 00/00/0000" ng-model="manipularPedido.PED_DAT_RETORNO" type="text" ng-required="true" ui-date-format >
		</div>
		<div class="red-text" ng-messages="pedidoForm.PED_DAT_RETORNO.$error" ng-show="pedidoForm.PED_DAT_RETORNO.$dirty">
			<span class="col" ng-message="required">Preencha este campo!</span>
		</div>
	</div>

	<!-- Cliente -->
	<div class="row">
		<div class="s12">
			<!-- Filtro de Lista -->
			<nav>
				<div class="nav-wrapper">
						<div class="input-field grey darken-3 white-text">
							<input id="search" type="search" ng-model="filterCliente" placeholder="Encontre o Cliente desejado...">
							<label for="search"><i class="material-icons">search</i></label>
							<i class="material-icons">close</i>
						</div>
				</div>
			</nav> <!-- ./Filtro de Lista -->
			<br>
			<input name="CLI_INT_ID" id="CLI_INT_ID" ng-model="manipularPedido.CLI_INT_ID" type="hidden" ng-required="true">
			<input name="CLI_STR_NOME" id="CLI_STR_NOME" ng-model="manipularPedido.Cliente.CLI_STR_NOME" type="hidden">
			<!-- {{ manipularPedido.CLI_INT_ID }} <br>
			{{ manipularPedido.Cliente.CLI_STR_NOME }} <br>
			{{ manipularPedido.Cliente.CLI_STR_SOBRENOME }} <br> -->
		</div>
	
		<div class="listControl">
		<ul class="collection">
			<li class="collection-item" ng-class="{'selected': cliente.selecionado}" ng-repeat="cliente in clientes | filter: filterCliente ">
				<span>
					<input name="selectCliente" ng-value="true"
						   ng-click="cleanRadioCliente(clientes, cliente.CLI_INT_ID, cliente.CLI_STR_NOME, cliente.CLI_STR_SOBRENOME)"
						   type="radio" ng-model="cliente.selecionado"
						   class="filled-in with-gap"
						   id="filled-in-box-cliente-{{ cliente.CLI_INT_ID }}"/>
					<label for="filled-in-box-cliente-{{ cliente.CLI_INT_ID }}"></label>
				</span>
				<a>{{ cliente.CLI_STR_NOME + " " + cliente.CLI_STR_SOBRENOME | uppercase }}</a>
			</li>
		</ul>
		</div>
		<br>
		<a href="#/clientes" ng-click="closeModal()" class="waves-effect waves-light btn yellow darken-4">Cadastrar novo Cliente</a>
		<br><br>
	</div><!-- ./Cliente -->

	<hr><br>

	<div class="row" ng-show="!btnAcao">
	<!-- Veiculo -->
	<div class="row">
		<div class="s12">
			<!-- Filtro de Lista -->
			<nav>
				<div class="nav-wrapper">
						<div class="input-field grey darken-3 white-text">
							<input id="search" type="search" ng-model="filterVeiculo" placeholder="Encontre o Veiculo desejado...">
							<label for="search"><i class="material-icons">search</i></label>
							<i class="material-icons">close</i>
						</div>
				</div>
			</nav> <!-- ./Filtro de Lista -->
			<br>
			<input name="VEI_INT_ID" id="VEI_INT_ID" ng-model="manipularPedido.VEI_INT_ID" type="hidden" ng-required="true">
			<input name="VEI_STR_MODELO" id="VEI_STR_MODELO" ng-model="manipularPedido.Veiculo.VEI_STR_MODELO" type="hidden">
			<input name="VEI_STR_MARCA" id="VEI_STR_MARCA" ng-model="manipularPedido.Veiculo.VEI_STR_MARCA" type="hidden">
			<input name="VEI_STR_KM" id="VEI_STR_KM" ng-model="manipularPedido.Veiculo.VEI_STR_KM" type="hidden">
			<input name="VEI_DAT_ANO" id="VEI_DAT_ANO" ng-model="manipularPedido.Veiculo.VEI_DAT_ANO" type="hidden">
			<input name="VEI_STR_PLACA" id="VEI_STR_PLACA" ng-model="manipularPedido.Veiculo.VEI_STR_PLACA" type="hidden">
			<input name="VEI_STR_STATUS" id="VEI_STR_STATUS" ng-model="manipularPedido.Veiculo.VEI_STR_STATUS" type="hidden">
			<input name="VEI_DAT_REGISTRO" id="VEI_DAT_REGISTRO" ng-model="manipularPedido.Veiculo.VEI_DAT_REGISTRO" type="hidden">
		</div>

		<div class="listControl">
		<ul class="collection">
			<li class="collection-item" ng-class="{'selected': veiculo.selecionado}" ng-repeat="veiculo in veiculos | filter: filterVeiculo ">
				<span>
					<input name="selectVeiculo" ng-value="true"
						   ng-click="cleanRadioVeiculo(veiculos, veiculo.VEI_INT_ID, veiculo.VEI_STR_MARCA, veiculo.VEI_STR_MODELO,
						   										 veiculo.VEI_STR_KM,
						   										 veiculo.VEI_DAT_ANO,
						   										 veiculo.VEI_STR_PLACA,
						   										 veiculo.VEI_STR_STATUS,
						   										 veiculo.VEI_DAT_REGISTRO)"
						   type="radio" ng-model="veiculo.selecionado"
						   class="filled-in with-gap"
						   id="filled-in-box-veiculo-{{ veiculo.VEI_INT_ID }}"/>
					<label for="filled-in-box-veiculo-{{ veiculo.VEI_INT_ID }}"></label>
				</span>
				<a>{{ veiculo.VEI_STR_MARCA + " " + veiculo.VEI_STR_MODELO | uppercase }}</a>
			</li>
			<li class="collection-item center-align" ng-if="veiculos.length === 0"><span class="col s12 center-align">Nenhum disponível =(</span></li>
		</ul>
		</div>
		<br>
		<a href="#/veiculos" ng-click="closeModal()" class="waves-effect waves-light btn yellow darken-4">Cadastrar novo Veículo</a>
		<br><br>
	</div><!-- ./Veiculo -->
	
	<hr><br>
	
	</div>


	<!-- Funcionário -->
	<div class="row">
		<div class="s12">
			<!-- Filtro de Lista -->
			<nav>
				<div class="nav-wrapper">
					<form autocomplete="off">
						<div class="input-field grey darken-3 white-text">
							<input id="search" type="search" ng-model="filterFuncionario" placeholder="Encontre o funcionário desejado...">
							<label for="search"><i class="material-icons">search</i></label>
							<i class="material-icons">close</i>
						</div>
					</form>
				</div>
			</nav> <!-- ./Filtro de Lista -->
			<br>
			<input name="FUN_INT_ID" id="FUN_INT_ID" ng-model="manipularPedido.FUN_INT_ID" type="hidden" ng-required="true">
			<input name="FUN_STR_NOME" id="FUN_STR_NOME" ng-model="manipularPedido.Funcionario.FUN_STR_NOME" type="hidden">
			<!-- {{ manipularPedido.FUN_INT_ID }} <br>
			{{ manipularPedido.Funcionario.FUN_STR_NOME }} <br>
			{{ manipularPedido.Funcionario.FUN_STR_SOBRENOME }} <br> -->
		</div>
	
		<div class="listControl">
		<ul class="collection">
			<li class="collection-item" ng-class="{'selected': funcionario.selecionado}" ng-repeat="funcionario in funcionarios | filter: filterFuncionario ">
				<span>
					<input name="selectFuncionario" ng-value="true" ng-click="cleanRadioFuncionario(funcionarios, funcionario.FUN_INT_ID, funcionario.FUN_STR_NOME, funcionario.FUN_STR_SOBRENOME)" type="radio" ng-model="funcionario.selecionado" class="filled-in with-gap" id="filled-in-box-{{ funcionario.FUN_INT_ID }}"/>
					<label for="filled-in-box-{{ funcionario.FUN_INT_ID }}"></label>
				</span>
				<a>{{ funcionario.FUN_STR_NOME + " " + funcionario.FUN_STR_SOBRENOME | uppercase }}</a>
			</li>
		</ul>
		</div>
	</div><!-- ./Funcionário -->

	<hr><br>

	<!-- Status -->
 	<div class="row" ng-show="btnAcao">
		<div class="col s12">
			<div class="row"><label>Andamento do Pedido <span class="red-text darken-4">*</span></label> <br></div>
			<select ng-model="manipularPedido.PED_STR_STATUS"
					ng-options="acesso.valor as acesso.nome for acesso in statusAcesso" ng-required="true">
				<option value="">Escolha uma Opção</option>
			</select>
		</div>

		<div class="red-text" ng-messages="manipularPedido.VEI_STR_STATUS.$error" ng-show="manipularPedido.VEI_STR_STATUS.$dirty">
			<span class="col" ng-message="required">Escolha uma opção!</span>
		</div>
	</div>


	<button class="waves-effect waves-light btn green darken-4"
			ng-hide="btnAcao"
			ng-click="adicionarPedido(manipularPedido)"
			ng-disabled="pedidoForm.$invalid">
		Confirmar Pedido
	</button>

	<button class="waves-effect waves-light btn blue darken-4"
			ng-show="btnAcao"
			ng-click="alterarPedido(manipularPedido)"
			ng-disabled="pedidoForm.$invalid">
		Alterar Pedido
	</button>
</form>




</div>
<div class="modal-footer">
<!-- ... -->
</div>
</div>
<section>
	<div class="container">
		<div class="card-panel grey lighten-3">
			<h3 class="center-align">{{ pageTitle }}</h3>

			<!-- Filtro de Lista -->
			<nav>
				<div class="nav-wrapper">
					<form autocomplete="off">
						<div class="input-field grey darken-3 white-text">
							<input id="search" type="search" ng-model="filterPedidos" placeholder="Qual pedido você está buscando?">
							<label for="search"><i class="material-icons">search</i></label>
							<i class="material-icons">close</i>
						</div>
					</form>
				</div>
			</nav> <!-- ./Filtro de Lista -->

			<br>


			<ul class="collapsible" data-collapsible="accordion" data-collapsible="expandable">
				<li>
					<div class="collapse-acord collapsible-header acord-header" ng-click="abrirModal(pedido, 1)"><i class="material-icons">add_circle</i>Adicionar novo</div>
				</li>
			</ul>
     
			<!-- Tabela para renderizar listas -->
			<div class="listControl">
				<table class="striped bordered">
					<thead>
						<tr class="grey darken-1 white-text">
							<th> * </th>
							<th>Editar</th>
							<th><a href="" ng-click="ordernarPor('pedido.PED_INT_ID')">Id</a></th>
							<th><a href="" ng-click="ordernarPor('pedido.PED_STR_STATUS')">Status</a></th>
							<th><a href="" ng-click="ordernarPor('pedido.Veiculo.VEI_STR_MARCA')">Veículo</a></th>
							<th><a href="" ng-click="ordernarPor('pedido.Cliente.CLI_STR_NOME')">Cliente</a></th>
							<th><a href="" ng-click="ordernarPor('pedido.Funcionario.FUN_STR_NOME')">Funcionário</a></th>
							<th><a href="" ng-click="ordernarPor('pedido.PED_DAT_REGISTRO')">Registro</a></th>
							<th><a href="" ng-click="ordernarPor('pedido.PED_DAT_RETORNO')">Retorno</a></th>
						</tr>
					</thead>
					

					<tbody>
						<tr ng-class="{'selected': pedido.selecionado}" ng-repeat="pedido in pedidos | filter: filterPedidos | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao ">
							<td>
								<span>
								  <input type="checkbox" ng-model="pedido.selecionado" class="filled-in" id="filled-in-box-pedido{{ pedido.PED_INT_ID }}"/>
								  <label for="filled-in-box-pedido{{ pedido.PED_INT_ID }}"></label>
							  	</span>
							 </td>
							<td><a ng-click="abrirModal(pedido, 0)"><i class="material-icons">mode_edit</i></a></td>
							<td><strong>{{ pedido.PED_INT_ID }}</strong></td>
							<td>{{ pedido.PED_STR_STATUS }}</td>
							<td><strong>{{ "[" + pedido.Veiculo.VEI_INT_ID + "] " }}</strong>{{ pedido.Veiculo.VEI_STR_MARCA + " " + pedido.Veiculo.VEI_STR_MODELO }}</td>
							<td><strong>{{ "[" + pedido.Cliente.CLI_INT_ID + "] " }}</strong>{{ pedido.Cliente.CLI_STR_NOME + " " + pedido.Cliente.CLI_STR_SOBRENOME }}</td>
							<td><strong>{{ "[" + pedido.Funcionario.FUN_INT_ID + "] " }}</strong>{{ pedido.Funcionario.FUN_STR_NOME + " " + pedido.Funcionario.FUN_STR_SOBRENOME }}</td>
							<td>{{ pedido.PED_DAT_REGISTRO | date: 'dd/MM/yyyy | HH:mm:ss' }}</td>
							<td>{{ pedido.PED_DAT_RETORNO | date: 'dd/MM/yyyy' }}</td>
						</tr>
						<tr class="collection-item center-align" ng-if="pedidos.length === 0">
							<td colspan="9" class="col s12 center-align">Nenhum disponível =(</td>
						</tr>
					</tbody>
				</table> <!-- ./Tabela para renderizar listas -->
			</div>
			<br>	

			<div class="legenda card-panel grey lighten-2 grey-text text-darken-1">
				<strong>Legenda de status: </strong> <br>
				A = Alugado <br>
				F = Finalizado <br>
				C = Cancelado <br>
			</div>

			<button class="waves-effect waves-light btn red darken-4"
					ng-click="apagarPedido(pedidos)"
					ng-disabled="!isPedidoSelecionado(pedidos)">
				Remover Pedido
			</button>

		</div>	
	</div>
	

	<footer class="center-align">
		<br>
		<br>
	</footer>
</section>