head
    meta(charset="UTF-8")
    title Luminosity Control
    meta(name="description" content="Apresentação TCC Luminosity Control.")
    meta(name="author" content="Mario Souto")
    meta(property="og:description" content="Apresentação TCC Luminosity Control.")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", type="text/css", href="css/main.css")
